# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic data & OS files
.DS_Store
Thumbs.db
*.mjs.timestamp*
vite.config.js.timestamp*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Cloudflare Wrangler & IDE
.wrangler/
.openchrome/
.vscode/
.idea/
